layout {

    focus-ring {
        active-color   "#ffaedf"
        inactive-color "#1e100c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffaedf"
        inactive-color "#1e100c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffaedf"
        inactive-color "#752a5f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffaedf80"
    }
}

recent-windows {
    highlight {
        active-color "#ffaedf"
        urgent-color "#ffb4ab"
    }
}
