layout {

    focus-ring {
        active-color   "#ffb5a0"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb5a0"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb5a0"
        inactive-color "#7c2d15"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb5a080"
    }
}

recent-windows {
    highlight {
        active-color "#ffb5a0"
        urgent-color "#ffb4ab"
    }
}
