    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
        
        GDK_BACKEND "nvidia-drm,wayland,x11"
        GTK_APPLICATION_PREFER_DARK_THEME "1"
        XDG_MENU_PREFIX "arch-"

        // GBM_BACKEND "nvidia-drm"
        __GLX_VENDOR_LIBRARY_NAME "nvidia"
        WLR_NO_HARDWARE_CURSORS "1"
        __GL_GSYNC_ALLOWED "1"
        __GL_VRR_ALLOWED "1"
        __GL_SHADER_DISK_CACHE "1"
        __GL_SHADER_DISK_CACHE_PATH "/home/deltacat/.cache/nvidia/GLCache"
        // Для NVIDIA на Wayland — важно для VA-API/NVENC в OBS
        LIBVA_DRIVER_NAME "nvidia"
        NVD_BACKEND "direct"

        SDL_VIDEO_DRIVER "wayland"
        SDL_VIDEO_DRIVER "wayland"
        SDL_AUDIO_DRIVER "pulse"

        STEAM_FORCE_DESKTOPUI_SCALING "1"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
